In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('ventas_oxxo.xlsx', sheet_name='pedidos_davis')
df

,nombre_tienda,nombre_SuperGrupo,nombre_Categoria,monto,unidades
0,Campo Militar REX,Jugos,Jugo y Nectar,6944.629783,342.696
1,Rodriguez REX,Botanas,Cacahuates/semillas,10079.532981,472.188
2,Estacion Reyes MTY,Fast Food Alimentos,Comida Deshidratada,3513.458034,146.496
3,Sungwoo MTY,Fast Food Alimentos,Comida Deshidratada,19524.816964,759.294
4,Progreso MTY,Galletas,Galleta Dulce,17667.038238,852.162
...,...,...,...,...,...
161338,Mision San Pablo MTY,Vinos y Licores,Vinos de Mesa,77.996041,1.000
161339,Obreros Mexicanos MTY,Entretenimiento,Coleccionables,96.883560,1.308
161340,Av. Cartagena MTY,Helados,Pasteles,185.736000,1.308
161341,Universo MTY,Cigarros,Sistemas Alternativo,36.643619,1.000
161342,Berrendo REX,Helados,Copas,172.656000,3.924

In [3]:
def calcular_tienda_venta(df, tienda):
    df_tienda = df[df['nombre_tienda'] == tienda].copy()
    total_venta_tienda = df_tienda['monto'].sum()
    return total_venta_tienda

In [ ]:
oxxo1 = calcular_tienda_venta(df, 'Francisco Villa MTY')
oxxo2 = calcular_tienda_venta(df, 'Pirineos MTY')
oxxo3 = calcular_tienda_venta(df, 'Tres Caminos MTY')
oxxo4 = calcular_tienda_venta(df, 'La Primavera MTY')
oxxo5 = calcular_tienda_venta(df, 'Aguanaval MTY')
oxxo6 = calcular_tienda_venta(df, 'Roma II MTY')
oxxo7 = calcular_tienda_venta(df, 'Mini Mexico MTY')
oxxo8 = calcular_tienda_venta(df, 'Plaza Florida MTY')
oxxo9 = calcular_tienda_venta(df, 'Chapultepec II MTY')
oxxo10 = calcular_tienda_venta(df, 'Los Portales MTY')
oxxo11 = calcular_tienda_venta(df, 'Macario MTY')
oxxo12 = calcular_tienda_venta(df, 'Loma Larga MTY')
oxxo13 = calcular_tienda_venta(df, 'Caracol II MTY')
oxxo14 = calcular_tienda_venta(df, 'Tecnologico MTY')
oxxo15 = calcular_tienda_venta(df, 'Rio Panuco MTY')
oxxo16 = calcular_tienda_venta(df, 'Florida MTY')
oxxo17 = calcular_tienda_venta(df, 'Las Hadas MTY')
oxxo18 = calcular_tienda_venta(df, 'Alfonso Reyes MTY')
oxxo19 = calcular_tienda_venta(df, 'Estadio MTY')
oxxo20 = calcular_tienda_venta(df, 'Caracas MTY')
oxxo21 = calcular_tienda_venta(df, 'Revolucion MTY')
oxxo22 = calcular_tienda_venta(df, 'Lirios MTY')
oxxo23 = calcular_tienda_venta(df, 'Buenos Aires MTY')
oxxo24 = calcular_tienda_venta(df, 'Jose Alvarado MTY')
oxxo25 = calcular_tienda_venta(df, 'Ancon del HuajucoMTY')
oxxo26 = calcular_tienda_venta(df, 'Pedro Martinez MTY')

oxxo_ventas = [
    oxxo1, oxxo2, oxxo3, oxxo4, oxxo5, oxxo6,
    oxxo7, oxxo8, oxxo9, oxxo10, oxxo11, oxxo12,
    oxxo13, oxxo14, oxxo15, oxxo16, oxxo17, oxxo18,
    oxxo19, oxxo20, oxxo21, oxxo22, oxxo23, oxxo24,
    oxxo25, oxxo26
]
oxxo_tiendas = [
    'Francisco Villa MTY', 'Pirineos MTY', 'Tres Caminos MTY',
    'La Primavera MTY', 'Aguanaval MTY', 'Roma II MTY',
    'Mini Mexico MTY', 'Plaza Florida MTY', 'Chapultepec II MTY',
    'Los Portales MTY', 'Macario MTY', 'Loma Larga MTY',
    'Caracol II MTY', 'Tecnologico MTY', 'Rio Panuco MTY',
    'Florida MTY', 'Las Hadas MTY', 'Alfonso Reyes MTY',
    'Estadio MTY', 'Caracas MTY', 'Revolucion MTY',
    'Lirios MTY', 'Buenos Aires MTY', 'Jose Alvarado MTY',
    'Ancon del HuajucoMTY', 'Pedro Martinez MTY'
]
oxxo_ventas_df = pd.DataFrame({
    'nombre_tienda': oxxo_tiendas,
    'monto': oxxo_ventas
})

oxxo_ventas_df['monto'] = oxxo_ventas_df.monto * 12
oxxo_ventas_df

                      Total Ventas
Francisco Villa MTY   6.026043e+06
Pirineos MTY          5.681977e+06
Tres Caminos MTY      1.502796e+07
La Primavera MTY      9.492603e+06
Aguanaval MTY         1.214137e+07
Roma II MTY           4.818259e+06
Mini Mexico MTY       6.210274e+06
Plaza Florida MTY     1.149587e+07
Chapultepec II MTY    1.135172e+07
Los Portales MTY      1.012559e+07
Macario MTY           1.195053e+07
Loma Larga MTY        1.065110e+07
Caracol II MTY        1.098059e+07
Tecnologico MTY       1.526549e+07
Rio Panuco MTY        6.439976e+06
Florida MTY           1.271264e+07
Las Hadas MTY         1.116002e+07
Alfonso Reyes MTY     1.403302e+07
Estadio MTY           1.134888e+07
Caracas MTY           1.648131e+07
Revolucion MTY        1.010448e+07
Lirios MTY            1.085752e+07
Buenos Aires MTY      1.437453e+07
Jose Alvarado MTY     2.022316e+07
Ancon del HuajucoMTY  1.009548e+07
Pedro Martinez MTY    1.031522e+07